.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__items {
    padding: 20px;
}

.dialog {
    padding: 20px;
}

.dialogs__items .active {
    color: red;
}

.messages {
    padding: 20px;
}

.message {
    padding: 30px;
}
